<!DOCTYPE html>

<title>New CommandShop</title>

{% block body %}
    <h1>Create new CommandShop</h1>

    {{ include('command_shop/_form.html.twig') }}

    <a href="{{ path('command_shop_index') }}">back to list</a>
{% endblock %}
