{% extends "admin/base_admin.html.twig" %}

{% block title %}
Admin Home
{% endblock %}

{% block body %}

	<section>

		<div class="col-12 textAdminHome">

			<h3 class="h3AdminHome">VOUS ETES BIEN CONNECTE EN TANT QU'ADMINISTRATEUR !</h3>
			<p class="textAdminHome">L'administrateur peut ajoutez des categories et des produits via l'onglet magasin dans la barre de navigation.</p>
			<p class="textAdminHome">Vous avez egalement une page avec la liste de tous les utilisateurs</p>
			<p class="textAdminHome">Une page avec la liste de toutes les commandes de tous les utilisateurs present sur votre site</p>

		</div>	

	</section>


{% endblock %}
