.cardProduct
{
    padding: 10px;
    font-size: 18px;
    border-radius: 0%;
    border: none;
}

.cardStyle1, .slideFront
{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 0%;
    border: none;
}

.borderCard
{
    border-radius: 50%;
}

.cardStyle2, .popUpLeft, .popUpRight
{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #F7F4EF;
    border-radius: 0%;
    border: none;
}

.text-card-show
{
    text-align: justify;
}

.imageCard
{
    height: 250px;
    object-fit: cover;
}

.imageProductCart
{
    height: 50px;
    object-fit: cover;
}

.cardTitle
{
    border: none;
    border-radius: 0%;
}