.debug0{
    border: 2px solid #000000;
}

.debug1{
    border: 2px solid #5300D2;
}

.debug2{
    border: 2px solid #1459F7;
}

.debug3{
    border: 2px solid #009800;
}

.debug4{
    border: 2px solid #E60058;
}

.debug5{
    border: 2px solid #FF6501;
}

.debug6{
    border: 2px solid #FFE601;
}

.debug7{
    border: 2px solid #FFFFFF;
}