{% extends "customer/base_customer.html.twig" %}

{% block title %}
Admin Product Edit
{% endblock %}

{% block body %}

    <div class="backgroundF7F4EF">


		<div class="container">

			<div class="col-12 paddingtop50">
				<h1 class="h1Product">Barber'cut</h1>
				<h2 class="h2Product">Modifier votre produit commande !</h2>
			</div>

			<div class="paddingtopbot50">

                {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}

			</div>

		</div>

		<div class="paddingbot20">
            <a class="return" href="{{ path('product_index') }}">Retour</a>
        </div>

	</div>

    {{ include('admin/product/_delete_form.html.twig') }}


{% endblock %}
